
<h2 class="login-msg">
  {{vm.msg}}
</h2>

<form class="form-inline">
  <input class="form-control" type="text" ng-model="vm.user.name" placeholder="Name">
  <input class="form-control" type="text" ng-model="vm.user.email" placeholder="Email">
  <input class="form-control" type="password" ng-model="vm.user.password" placeholder="Password">
  <input class='btn btn-success' type="submit" ng-click="vm.handleLoginMsg(vm.user.name, vm.user.email, vm.user.password)" value="Log In">
  <h3 class="login-msg">{{vm.loginMessage}}</h3>
</form >
